@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(230, 230, 230, 0.5);
}
ul li{
  color: rgba(29, 31, 46, 0.8);
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 3px;
}
ul li:hover{
  background-color:rgba(176, 176, 176, 1);
  border-radius: 20px;
}

.sidebar-footer {
  color: rgba(29, 31, 46, 0.8);
  font-size: 14px;
  font-weight: 700;
}
.sidebar-footer p{
  color: rgba(20, 20, 43, 1);
}
hr {
   border: 1px solid rgba(230, 230, 230, 1)
}